---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Guidelines - validación"
	description="Herramienta de validación - listado de elementos a valorar"
>
	<main>Placeholder</main>
</Layout>
