<button type="reset"> RESET </button>

<style>
    button {
        cursor: pointer;
        padding: 8px 16px;

        border: 1px solid var(--foreground);
        border-radius: 0.35rem;

        color: var(--foreground);
        background: var(--background);

        transition: transform 0.3s ease;
    }

    button:hover {
        background: var(--hover);
        transform: scale(0.97);
    }
</style>
