<footer>
    <p>Renato R. Vergara 2025</p>
    <p>Made by arcvra with &#60;3.</p>
</footer>

<style>
    footer {
        --_muted: hsl(0 0 60);
        display: flex;
        justify-content: space-around;
        font-size: small;
        color: var(--_muted);
    }
</style>
