---
import Github from "../icons/Github.astro";
---

<header>
    <h1>Guidelines &ndash; validació</h1>
    <nav class={`flex`}>
        <a href="https://github.com/arcvra">
            <Github />
        </a>
    </nav>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>
