---
interface Props {
    id: string;
    text: string;
}
const { id, text } = Astro.props;
---

<label for={`${id}-check`}>
    <input id={`${id}-check`} name={`${id}-check`} type="checkbox" />
    <p>{text}</p>
</label>

<style>
    label {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-inline: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        background: var(--odd);
    }

    label:hover,
    label:nth-child(even):hover {
        background: var(--hover);
        transition: 0.3s ease;
    }

    label:nth-child(even) {
        background: var(--even);
    }
    input[type="checkbox"] {
        appearance: none;
        font: inherit;

        display: grid;
        place-content: center;

        cursor: pointer;

        height: 26px;
        width: 26px;
        border: 1px solid var(--foreground);
        border-radius: 4px;
    }

    input[type="checkbox"]::before {
        content: "";
        width: 12px;
        height: 12px;
        transform: scale(0);
        transition: transform 0.2s ease-in-out;
        background-color: var(--checked);
        border: 1px solid var(--foreground);
        border-radius: 2px;
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }

    p {
        width: 100%;
    }
</style>
