---
interface Props {
    id: number;
    text: string;
}
const { id, text } = Astro.props;
---

<label for={`${id}-check`}>
    <input id={`${id}-check`} name={`${id}-check`} type="checkbox" />
    <p>{text}</p>
</label>

<style>
    label {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    input[type="checkbox"] {
        height: 24px;
        width: 24px;
    }

    p {
        width: 100%;
    }
</style>
