---
interface Props {
    id: number;
    text: string;
}
const { id, text } = Astro.props;
---

<label for={`${id}-check`}>
    <input id={`${id}-check`} name={`${id}-check`} type="checkbox" />
    <p>{text}</p>
</label>
