@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

:root {
    --background: hsl(220 20 15);
    --foreground: hsl(0 0 90);

    --even: hsl(220 40 23);
    --odd: hsl(220 40 18);

    --checked: hsl(260 60 40);
    --hover: hsl(260 60 40 / .3);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: hsl(220 5 80);
        --foreground: hsl(0 0 20);

        --even: hsl(0 0 63);
        --odd: hsl(0 0 50);

        --checked: hsl(38 66 68);
        --hover: hsl(38 66 68 / .3);
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--background);
    color: var(--foreground);
    font-family: "Fragment Mono", "Roboto, Arial, Sans-serif";


    min-height: 100lvh;
    padding-inline: calc(1000vw / 7/10);
    padding-block: 1.5em;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

@media screen and (width >=750px) {
    body {
        padding-inline: calc(1000vw / 4/10);
    }
}

@media screen and (width >=1250px) {
    body {
        padding-inline: calc(1000vw / 5/10);
    }
}